<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>533348603651-3qr59of19cmu78cj1uo1qoletcfsptl1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.533348603651-3qr59of19cmu78cj1uo1qoletcfsptl1</string>
	<key>API_KEY</key>
	<string>AIzaSyBbe85s8UJWsiClWv2ta4C5-zlEk5Kh4rc</string>
	<key>GCM_SENDER_ID</key>
	<string>533348603651</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Andrew11US.Financial-Assistant</string>
	<key>PROJECT_ID</key>
	<string>financial-assistant-92e6c</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-assistant-92e6c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533348603651:ios:019a0ffb7b4b852f6ffb36</string>
	<key>DATABASE_URL</key>
	<string>https://financial-assistant-92e6c.firebaseio.com</string>
</dict>
</plist>